<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href='{{ "/assets/css/style.css" | relative_url }}'>
  <title>{{page.title}}</title>
</head>

<body>
<div class="wrapper">
  <header>
    <p>{{ page.title }}</p>
    <img src='{{ "/assets/img/msl-logo.png" | relative_url }}' alt="Logo"/>
    <ul class="navbar">
      <li><a href="#" onclick="viewlist()">ALL<strong>すべて表示</strong></a></li>
      <li><a href="#" onclick="viewlist('off')">OFF<strong>すべて消す</strong></a></li>
    </ul>
    <ul class="navbar">
      <li><a href="#" onclick="viewlist('game')">ゲーム<strong><img src="images/game.png"></strong></a></li>
      <li><a href="#" onclick="viewlist('manga')">漫画<strong><img src="images/manga.png"></strong></a></li>
      <li><a href="#" onclick="viewlist('anime')">アニメ<strong><img src="images/anime.png"></strong></a></li>
    </ul>
    <div>
      <a href="https://www.youtube.com/watch?v=hUdCx7Ry_iY" target="_blank">第1回</a>&nbsp;
      <a href="https://www.youtube.com/watch?v=AUdaVkiZGhY" target="_blank">第2回</a>&nbsp;
      <a href="https://www.youtube.com/watch?v=mOAc2xL2NUs" target="_blank">第3回</a>&nbsp;
      <a href="https://www.youtube.com/watch?v=f_eIwZRhH28" target="_blank">第4回</a>&nbsp;
      <a href="https://www.youtube.com/watch?v=3543CIsCUoc" target="_blank">第5回</a>&nbsp;
    </div>
  </header>
  <section>

    {{ content }}

  </section>
  <footer>
  </footer>
</div>
<script type="text/javascript">
    function viewlist(category = "all") {
        let root = document.getElementsByTagName("section")[0];
        let nodes = root.getElementsByTagName("li");
        for (let i = 0; i < nodes.length; i++) {
            var tag = nodes[i];
            if (category === "all") {
                tag.style.display = "list-item";
            } else if (category === "off") {
                tag.style.display = "none";
            } else {
                var img = tag.firstChild
                if (img != null && img.tagName === "IMG" && img.alt === category) {
                    tag.style.display = "list-item";
                }
            }
        }
    }
</script>
</body>
</html>
